@{
    ViewBag.Title = "À propos de nous";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    <br>Nivantis est un groupe pharmaceutique qui a affiché en 2016 des ventes supérieures à 1,2 milliard d’euros.
    <br>Il rassemble plus de 2 500 salariés dans le monde.
    <br>
    <br>
    <br>L’ambition de Nivantis est de devenir un leader dans le traitement des maladies invalidantes.
    <br>Sa stratégie de développement s’appuie sur 3 domaines : oncologie, neurosciences, endocrinologie.
    <br>Par ailleurs, Nivantis dispose d'une présence significative en médecine générale.
    <br>
    <br>
    <br>La recherche et développement (R&D) de Nivantis est focalisée sur ses plateformes technologiques différenciées et innovantes en peptides et en toxines.
    <br>En 2016, les dépenses de R&D ont atteint 56 millions d’euros, soit plus de 10 % du chiffre d’affaires.
    <br>
    <br>
    <br>L'entreprise possède plusieurs laboratoires de recherche et développement au Royaume-Uni, en France et aux USA.
    <br>L'entreprise possède également plusieurs sites de production.
</p>
