@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>BIENVENU SUR NIVANTIS</h1>
    <p class="lead">
        <br>Nivantis fourni un ensemble de données sur la pharmacie à proximité de vous.
        <br>Les achats par produit, les ventes, les besoins en formation… toutes ces informations sont disponibles sur ce site.
    </p>
    <center>
        <img src="~/Images/1200px-Coupe_d'Hygie.svg.png" width="200" />
    </center>
</div>
 
<div class="row">
    <div class="col-md-4">
        <h2>Les pharmacies</h2>
        <p>
            Trouver les pharmacies à proximité.
        </p>
        <p><a class="btn btn-default" href="http://localhost:60952/Home/PharmaProximite">Pharmacies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>À propos de nous</h2>
        <p>Connaître l'histoire de Nivantis</p>
        <p><a class="btn btn-default" href="http://localhost:60952/Home/About">À propos de &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Besoin d'un renseignement ?</p>
        <p><a class="btn btn-default" href="http://localhost:60952/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>