@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Pharmacies à proximitées";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Cliquer sur le bouton "rechercher" pour lancer la recherche de pharmacies à proximitées.</p>
